@model HalloDoc.ViewModels.BusinessRequest;
@{
    Layout = "_Requests";
}
<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="none">Submit Information</h3>
        </div>
        <div>
            <button class=" border border-info rounded-2 p-2 bg-transparent">
                <a class="text-decoration-none text-info" asp-controller="Home" asp-action="patient_request_screen">&lt; Back</a>
            </button>
        </div>
    </div>

    <div class="container border rounded-2 p-3 pr_main bg-white mt-3" id="main-content">
        <form asp-action="insert" asp-controller="Business" method="post">
        <div class="business-info row mt-3">

            <div class="h4">Business Information</div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=FirstName id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Your First Name</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=LastName id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Your Last Name</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input id="phone" class="form-control" asp-for="Mnumber" type="tel" name="phone" />
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="email" class="form-control" asp-for=Email id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Your Email</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for="Business" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Business/Property Name</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=CaseNumber id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Case Number(Optional)</label>
            </div>

        </div>

        <div class="patient-info row mt-5">

            <div class="h4">Patient information</div>

            <div class="form-floating mt-3 col-xl-12">
                <textarea class="form-control" asp-for=Symptoms placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" style="left: 5px;">Enter Brief Details Of Symptoms(Optional)</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=PFirstName id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">First Name</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for="PLastName" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" style="left: 5px;">Last Name</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="date" class="form-control" asp-for=DOB id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" style="left: 5px;">Date of Birth</label>
            </div>

        </div>

        <div class="contact-info row mt-5">

            <div class="h4">Patient contact information</div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="email" class="form-control" asp-for=PEmail id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Email</label>
            </div>
            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input id="phone1" class="form-control" asp-for=PMnumber type="tel" name="phone" />
            </div>
        </div>

        <div class="location-info row mt-5">

            <div class="h4">Patient Location</div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for="Street" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Street</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=City id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">City</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=State id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">State</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=ZipCode id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Zip Code</label>
            </div>

            <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                <input type="text" class="form-control" asp-for=Room id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="left: 5px;">Room # / Suite(Optional)</label>
            </div>

        </div>

        <div class="d-flex justify-content-end mt-4">
            <button class="bg-info p-2 rounded border-0 px-3 text-white">Submit</button>
            <button class="ms-3 p-2 rounded border-info bg-white text-info px-3">Cancel</button>
        </div>
        </form>
    </div>
</div>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>

<script>
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>