@model Services.ViewModels.BusinessRequestData;
@{
    Layout = "_Requests";
}
<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="none">Submit Information</h3>
        </div>
        <div>
            <button class=" border border-info rounded-2 p-2 bg-transparent">
                <a class="text-decoration-none text-info" asp-controller="Home" asp-action="PatientRequestScreen">&lt; Back</a>
            </button>
        </div>
    </div>

    <div class="container border rounded-2 p-3 pr_main bg-white mt-3" id="main-content">
        <form asp-action="BusinessInsert" asp-controller="Requests" method="post" id="myForm">
            <div class="business-info row mt-3">

                <div class="h4">Business Information</div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=FirstName  placeholder="name@example.com">
                    <label  style="left: 5px;">Your First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=LastName  placeholder="name@example.com">
                    <label  style="left: 5px;">Your Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" id="phone" class="form-control" asp-for="Mnumber" maxlength="10"/>
                    <span asp-validation-for="Mnumber" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="email" class="form-control" asp-for=Email  placeholder="name@example.com">
                    <label  style="left: 5px;">Your Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for="Business"  placeholder="name@example.com">
                    <label  style="left: 5px;">Business/Property Name</label>
                    <span asp-validation-for="Business" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=CaseNumber  placeholder="name@example.com">
                    <label  style="left: 5px;">Case Number(Optional)</label>
                </div>

            </div>

            <div class="patient-info row mt-5">

                <div class="h4">Patient information</div>

                <div class="form-floating mt-3 col-xl-12">
                    <textarea class="form-control" asp-for=Symptoms placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2" style="left: 5px;">Enter Brief Details Of Symptoms(Optional)</label>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=PatientFirstName  placeholder="name@example.com">
                    <label  style="left: 5px;">First Name</label>
                    <span asp-validation-for="PatientFirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for="PatientLastName" placeholder="Password">
                    <label style="left: 5px;">Last Name</label>
                    <span asp-validation-for="PatientLastName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="date" class="form-control" asp-for=DOB  placeholder="Date of birth" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <label for="floatingPassword" style="left: 5px;">Date of Birth</label>
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>

            </div>

            <div class="contact-info row mt-5">

                <div class="h4">Patient contact information</div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="email" class="form-control" asp-for=PatientEmail  placeholder="name@example.com" id="email">
                    <label  style="left: 5px;">Email</label>
                    <span asp-validation-for="PatientEmail" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" id="phone1" class="form-control" asp-for=PatientMobileNumber maxlength="10"/>
                    <span asp-validation-for=PatientMobileNumber class="text-danger"></span>
                </div>
            </div>

            <div class="location-info row mt-5">

                <div class="h4">Patient Location</div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for="Street"  placeholder="Street">
                    <label  style="left: 5px;">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=City  placeholder="City">
                    <label  style="left: 5px;">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=State  placeholder="State">
                    <label  style="left: 5px;">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=ZipCode  placeholder="Zip code">
                    <label  style="left: 5px;">Zip Code</label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" class="form-control" asp-for=Room  placeholder="Room">
                    <label  style="left: 5px;">Room # / Suite(Optional)</label>
                </div>

            </div>

            <div class="d-flex justify-content-end mt-4">
                <button class="bg-info p-2 rounded border-0 px-3 text-white" id="submitBtn" type="button">Submit</button>
                <button class="ms-3 p-2 rounded border-info bg-white text-info px-3" id="cancelBtn" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    
    $('#submitBtn').on('click', function () {
        $('form span').css('display', 'flex');
        var Email = $('#email').val();
        if ($('#myForm').valid()) {
            $.ajax({
                url: '/Requests/EmailValidate',
                data: { "Email": Email },
                async: false,
                success: function (response) {
                    if (response) {
                        document.getElementById('submitBtn').type = "submit";
                        $('#submitBtn').click();
                    } else {
                        $.ajax({
                            url: '/Requests/CreateNewAccountLink',
                            data: { email: Email },
                            async: false,
                            success: function (data) {
                                Swal.fire({
                                    icon: "warning",
                                    title: "User Not Exist",
                                    text: "Link is sent to patient email to create account. First Create account and then submit this form."
                                });
                            }
                        });
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    });

    $('#cancelBtn').on('click', function () {
        $('form span').css('display', 'none');
    })
</script>