@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex justify-content-between gap-4">
    <div class="border border-danger adminSubDivs w-50">
        <img src="~/images/11116016_415.jpg" class="h-100 w-100"/>
    </div>
    <div class="border border-danger adminSubDivs w-50">

    </div>
</div>