@{
    Layout = "_Admin";
}

<Partial name="_Notification" />
<div class="container mt-5" id="mainContent">

    <div class="h4">
        Account Access
    </div>

    <div class="shadow mt-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-info shadow-none m-2 text-decoration-none" asp-action="CreateRoleAccess">
                User Access
            </a>
        </div>
       <div id="dataTable">

       </div>
    </div>
</div>

