@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="~/css/AdminDashboard.css" asp-append-version="true" />
</head>
<body >
    <header id="header">
        <nav class="navbar navbar-light border-bottom px-4">
            <p>
                <button class="btn d-md-none border border-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="bi bi-list"></i>
                </button>
                <img src="~/images/1HalloDoc.png" height="70px" width="140px"/>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="nav nav-tabs d-block d-flex flex-column gap-3" id="nav-tab" role="tablist">

                            @if (Context.Request.Path.Equals("/Admin/AdminDashboard"))
                            {
                                <a asp-action="AdminDashboard" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px;">Dashboard</a>
                            }
                            else
                            {
                                <a asp-action="AdminDashboard" asp-controller="Admin" class="text-decoration-none pe-2" style="color:black;">Dashboard</a>
                            }
                            @if (Context.Request.Path.Equals("/Admin/ProviderLocation"))
                            {
                                <a asp-action="ProviderLocation" asp-controller="Provider" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px;">Providers Location</a>
                            }
                            else
                            {
                                <a asp-action="AdminDashboard" asp-controller="Provider" class="text-decoration-none pe-2" style="color:black;">Providers Location</a>
                            }
                            @if (Context.Request.Path.Equals("/Admin/AdminProfile"))
                            {
                                <a asp-action="AdminProfile" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px">My Profile</a>
                            }
                            else
                            {
                                <a asp-action="AdminProfile" asp-controller="Admin" class="text-decoration-none pe-2" style="color:black;">My Profile</a>

                            }
                            @if (Context.Request.Path.Equals("/Provider/Provider") || Context.Request.Path.Equals("/Admin/Schedulling") || Context.Request.Path.Equals("/Provider/Invoicing") || Context.Request.Path.Equals("/Provider/CreateProvider"))
                            {
                                <a class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: 4px solid #17a2b8!important; height : 40px; cursor : pointer">Provider</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3" style="cursor:pointer;">
                                    <li><a asp-action="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                                    <li><a asp-action="Schedulling" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                                    <li><a asp-action="Invoicing" class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                                </ul>
                            }
                            else
                            {
                                <a class="text-decoration-none pe-2 dropdown-toggle" id="dropdownMenu4" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor : pointer">Provider</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu4" style="cursor:pointer;">
                                    <li><a asp-action="Provider" asp-controller="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                                    <li><a asp-action="Scheduling" asp-controller="Provider" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                                    <li><a asp-action="Invoicing" asp-controller="Provider" class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                                </ul>
                            }

                            @if (Context.Request.Path.Equals("/Admin/Partners") || Context.Request.Path.Equals("/Admin/AddBusiness"))
                            {
                                <a asp-action="Partners" asp-controller="Admin" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px">Partners</a>
                            }
                            else
                            {
                                <a asp-action="Partners" asp-controller="Admin" class="text-decoration-none pe-2" style="color:black;">Partners</a>
                            }
                            @if (Context.Request.Path.Equals("/Admin/RoleAccess"))
                            {
                                <a asp-action="RoleAccess" asp-controller="Admin" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px">Access</a>
                            }
                            else
                            {
                                <a asp-action="RoleAccess" asp-controller="Admin" class="text-decoration-none pe-2" style="color:black;">Access</a>
                            }
                            @if (Context.Request.Path.Equals("/Admin/SearchRecords") || Context.Request.Path.Equals("/Admin/EmailLogs") || Context.Request.Path.Equals("/Admin/SMSLogs") || Context.Request.Path.Equals("/Admin/PatientRecords") || Context.Request.Path.Equals("/Admin/BlockedHistory"))
                            {
                                <a class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: 4px solid #17a2b8!important; height : 40px; cursor : pointer">Records</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                                    <li><a asp-action="SearchRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                                    <li><a asp-action="EmailLogs" class="text-decoration-none dropdown-item provider-menu  mb-2">Email Logs</a></li>
                                    <li><a asp-action="SMSLogs" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                                    <li><a asp-action="PatientRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Patient Records</a></li>
                                    <li><a asp-action="BlockedHistory" class="text-decoration-none dropdown-item provider-menu mb-2">Blocked History</a></li>
                                </ul>
                            }
                            else
                            {
                                <a class="text-decoration-none pe-2 dropdown-toggle" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor : pointer">Records</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                                    <li><a asp-action="SearchRecords" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                                    <li><a asp-action="EmailLogs" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Email Logs</a></li>
                                    <li><a asp-action="SMSLogs" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                                    <li><a asp-action="PatientRecords" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Patient Records</a></li>
                                    <li><a asp-action="BlockedHistory" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Blocked History</a></li>
                                </ul>
                            }
                        
                        </div>
                    </div>
                </div>
                
            </p>

            <div class="navdiv d-flex flex-row gap-2">
                <span class="mt-2 welcome d-none d-sm-block">welcome , @HttpContextAccessor.HttpContext.Session.GetString("UserName") </span>

                <a asp-action="Logout" asp-controller="Admin">
                    <button style="background-color: transparent;" class="border-1 rounded text-info border-info p-2">
                        <div><i class="bi bi-box-arrow-right d-sm-none"></i></div>
                        <div class="logouttext"><span class="d-none d-sm-block">log out</span></div>
                    </button>
                </a>

                <div >
                    <button id="darkbtn" class="border border-0 rounded-2 p-1">
                        <img src="~/images/moon_light.png" alt="picture" id="darkimg" height="35px" width="30px">
                    </button>
                </div>
            </div>
        </nav>

        <div class="shadow px-4 my-2">
            <div class=" h6 d-none d-md-flex gap-4" style="width:93%">
                @if (Context.Request.Path.Equals("/Admin/AdminDashboard"))
                {
                    <a asp-action="AdminDashboard" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px;">Dashboard</a>
                }
                else
                {
                    <a asp-action="AdminDashboard" asp-controller="Admin" class="text-decoration-none pe-2 text-dark">Dashboard</a>
                }
                @if (Context.Request.Path.Equals("/Provider/ProviderLocation"))
                {
                    <a asp-action="ProviderLocation" asp-controller="Provider" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px;">Providers Location</a>
                }
                else
                {
                    <a asp-action="ProviderLocation" asp-controller="Provider" class="text-decoration-none pe-2" style="color:black;">Providers Location</a>
                }
                @if (Context.Request.Path.Equals("/Admin/AdminProfile"))
                {
                    <a asp-action="AdminProfile" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px">My Profile</a>
                }
                else
                {
                    <a asp-action="AdminProfile" asp-controller="Admin" class="text-decoration-none pe-2" style="color:black;">My Profile</a>

                }
                @if (Context.Request.Path.Equals("/Provider/Provider") || Context.Request.Path.Equals("/Admin/Scheduling") || Context.Request.Path.Equals("/Provider/Invoicing") || Context.Request.Path.Equals("/Provider/CreateProvider"))
                {
                    <a class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: 4px solid #17a2b8!important; height : 40px; cursor : pointer">Provider</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                        <li><a asp-action="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                        <li><a asp-action="Schedulling" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                        <li><a asp-action="Invoicing" class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                    </ul>
                }
                else
                {
                    <a class="text-decoration-none pe-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor : pointer">Provider</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                        <li><a asp-action="Provider" asp-controller="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                        <li><a asp-action="Scheduling" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                        <li><a asp-action="Invoicing" asp-controller="Provider" class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                    </ul>
                }
               
                @if (Context.Request.Path.Equals("/Admin/Partners") || Context.Request.Path.Equals("/Admin/AddBusiness"))
                {
                    <a asp-action="Partners" asp-controller="Admin" class="text-decoration-none text-info px-2" style="border-bottom: 4px solid #17a2b8!important; height : 40px">Partners</a>
                }
                else
                {
                    <a asp-action="Partners" asp-controller="Admin" class="text-decoration-none pe-2" style="color:black;">Partners</a>
                }
                @if (Context.Request.Path.Equals("/Admin/RoleAccess") || Context.Request.Path.Equals("/Admin/AdminCreateAccount"))
                {
                    <a class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: 4px solid #17a2b8!important; height : 40px; cursor : pointer">Access</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="cursor:pointer;">
                        <li><a asp-action="RoleAccess" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Access</a></li>
                        <li><a asp-action="AdminCreateAccount" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Register Admin</a></li>
                    </ul>
                }
                else
                {
                    <a class="text-decoration-none pe-2 dropdown-toggle" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor : pointer">Access</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="cursor:pointer;">
                        <li><a asp-action="RoleAccess" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Access</a></li>
                        <li><a asp-action="AdminCreateAccount" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Register Admin</a></li>
                    </ul>
                }
                @if (Context.Request.Path.Equals("/Admin/SearchRecords") || Context.Request.Path.Equals("/Admin/EmailLogs") || Context.Request.Path.Equals("/Admin/SMSLogs") || Context.Request.Path.Equals("/Admin/PatientRecords") || Context.Request.Path.Equals("/Admin/BlockHistory"))
                {
                    <a class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: 4px solid #17a2b8!important; height : 40px; cursor : pointer">Records</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                        <li><a asp-action="SearchRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                        <li><a asp-action="EmailLogs" class="text-decoration-none dropdown-item provider-menu  mb-2">Email Logs</a></li>
                        <li><a asp-action="SMSLogs" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                        <li><a asp-action="PatientRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Patient Records</a></li>
                        <li><a asp-action="BlockHistory" class="text-decoration-none dropdown-item provider-menu mb-2">Blocked History</a></li>
                    </ul>
                }
                else
                {
                    <a class="text-decoration-none pe-2 dropdown-toggle" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor : pointer">Records</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                        <li><a asp-action="SearchRecords" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                        <li><a asp-action="EmailLogs" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu  mb-2">Email Logs</a></li>
                        <li><a asp-action="SMSLogs" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                        <li><a asp-action="PatientRecords" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Patient Records</a></li>
                        <li><a asp-action="BlockHistory" asp-controller="Admin" class="text-decoration-none dropdown-item provider-menu mb-2">Blocked History</a></li>
                    </ul>
                }
            </div>
        </div>

        <div class="tab-content" id="nav-tabContent">
       
        </div>
    </header>
        @RenderBody()
      @*   <div class="bg-dark p-2 d-flex justify-content-end w-100 mt-5 position-relative bottom-0">
            <a href="#" class="text-decoration-none text-white mx-1">Terms Of Conditions</a>
            <span class="mx-1 text-white">|</span>
            <a href="#" class="text-decoration-none text-white mx-1">Privacy Policy</a>
        </div> *@
</body>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/js/darkmode.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</html>

