.new {
    background-color: #e9eaef;
    color: #203f9a;
    border: 1px solid #203f9a;
}

.pending {
    background-color: #e5f2f8;
    color: #36a6c9;
    border: 1px solid #36a6c9;
}

.activecase {
    background-color: #e9f0e8;
    color: #367f40;
    border: 1px solid #367f40;
}

.conclude {
    background-color: #f7e6ee;
    color: #ac3d7d;
    border: 1px solid #ac3d7d;
}

.toclose {
    background-color: #e5eef5;
    color: #2573b0;
    border: 1px solid #2573b0;
}

.unpaid {
    background-color: #efeef4;
    color: #906cb6;
    border: 1px solid #906cb6;
}

.allstatus {
    width: 16.6% !important;
    padding: 4px;
}

.nav-link {
    padding: 8px;
}

.bottomarrow {
    position: absolute;
    left: 45%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: none;
    height: 0px;
    width: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border: 0px;
}


.nav-tabs .allstatus .nav-link.active .new {
    color: white;
    background-color: #203f9a;
}

.nav-tabs .allstatus .nav-link.active .new + .bottomarrow {
    border-top: 15px solid #203f9a;
}

.nav-tabs .allstatus .nav-link.active .pending {
    color: white;
    background-color: #36a6c9;
}

.nav-tabs .allstatus .nav-link.active .pending + .bottomarrow {
    border-top: 15px solid #36a6c9;
}

.nav-tabs .allstatus .nav-link.active .activecase {
    color: white;
    background-color: #367f40;
}

.nav-tabs .allstatus .nav-link.active .activecase + .bottomarrow {
    border-top: 15px solid #367f40;
}

.nav-tabs .allstatus .nav-link.active .conclude {
    color: white;
    background-color: #ac3d7d;
}

.nav-tabs .allstatus .nav-link.active .conclude + .bottomarrow {
    border-top: 15px solid #ac3d7d;
}

.nav-tabs .allstatus .nav-link.active .toclose {
    color: white;
    background-color: #2573b0;
}

.nav-tabs .allstatus .nav-link.active .toclose + .bottomarrow {
     border-top: 15px solid #2573b0;
}

.nav-tabs .allstatus .nav-link.active .unpaid {
    color: white;
    background-color: #906cb6;
}

.nav-tabs .allstatus .nav-link.active .unpaid + .bottomarrow {
    border-top: 15px solid #906cb6;
}

.filters{
    border-radius : 50%;
    height : 10px;
    width : 10px;
}
.accordion-button::after {
    content: none;
}
.icn::before {
    border: 2px solid #0dcaf0;
    border-radius: 50%;
    line-height: 1;
    font-size: 13px;
    padding: 3px;
}

.icns::before {
    font-weight: 900 !important;
}

.viewCaseBtn {
    
    border: 2px solid #906cb6;
    background-color: #efeef4;
    color: #906cb6;
    transform : translateY(-20px);
    z-index : 2 !important;
}

.bi-search {
    
}

.search-label {
    position: relative;
    bottom: 30px;
    left: 40px;
}

.dashLine {
    width: 98%;
    border: 1px dashed grey;
}

.subdivs{
    height:100vh;
}
div.iti.iti--allow-dropdown {
    width: 100%;
    border-radius: 5px;
}

div.iti.iti--allow-dropdown:focus {
    outline: #00b8e6;
}

input#phone {
    height: 58px;
    width: 100%;
}
.accordion-button{
    z-index : 0 !important;
}
@media only screen and (max-width:1050px) {
    .allstatus {
        width: 33.3% !important;
    }
    .bottomarrow{
        display : none;
    }

}

@media only screen and (max-width:500px) {
    .icons {
        display: none;
    }

    .small {
        font-size: 0.75rem
    }
}
@media only screen and (max-width:950px) {
    .dash-btn {
        display: none;
    }
}