@model Services.ViewModels.EditProviderViewModel

<div class="modal fade" id="ModalToOpen" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="p-4 m-auto border border-1 border-info rounded-2">
                <div class="row">
                    <div class="col-md-12">
                        <h1>E-Signature</h1>
                        <p>Sign in the canvas below and save your signature as an image!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <canvas class="border border-secondary rounded-2" id="sig-canvas" width="300" height="160">
                            Get a better browser, bro.
                        </canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="p-2 px-3 text-white bg-info rounded border-info  mx-2 px-3 shadow-none" id="sig-submitBtn" onclick="convertCanvasToImage()" data-bs-dismiss="modal">Submit Signature</button>
                        <button class="btn border-info text-info shadow-none" id="sig-clearBtn">Clear Signature</button>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" id="Cancelbutton" class="btn border-info text-info shadow-none" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="fw-bolder h4">Edit Physician Account</div>
    <div>
        <button class=" border border-info rounded-2 p-2 bg-transparent">
            <a class="text-decoration-none text-info" asp-action="AdminDashboard">&lt; Back</a>
        </button>
    </div>
</div>



<div class="border rounded-3 p-3 mt-4 bg-transparent" id="main-content">

    <div class="row AccountInfo">
        <div class="h4">Account Information</div>

        <div class="p-2 col-sm-6 col-12">
            <div class="form-floating ">
                <input type="text" class="form-control" placeholder="User Name" name="contact" disabled>
                <label class="FloatingInput">User Name</label>
            </div>
        </div>

        <div class="p-2 col-sm-6 col-12">
            <div class="form-floating ">
                <input type="password" class="form-control" placeholder="Password">
                <label class="FloatingInput">Password</label>
            </div>
        </div>

        <div class="col-sm-6 col-12 p-2">
            <div class="form-floating">
                <select class="form-select businesses" aria-label="Floating label select example" id="floatingSelect" disabled>
                    <option value="" selected>Active</option>
                </select>
                <label for="floatingSelect">
                    Status
                </label>
            </div>
        </div>

        <div class="col-sm-6 col-12 p-2">
            <div class="form-floating">
                <select class="form-select businesses" aria-label="Floating label select example" id="floatingSelect" disabled>
                    <option value="" selected>Master Admin</option>
                </select>
                <label for="floatingSelect">
                    Role
                </label>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <button type="button" class="btn bg-tranparent border-info text-info">Reset Password</button>
        </div>
    </div>
    @* action="/Provider/UpdatePhysicianInfo" method="post" *@
    <form id="myForm1">
        <input type="text" asp-for="providerId" />
        <div class="row mt-3">
            <div class="h4">Physician Information</div>

            <div class="p-2 col-sm-6 col-12">
                <div class="form-floating ">
                    <input type="text" class="form-control data1" placeholder="First Name" disabled id="firstName" asp-for="firstName">
                    <label class="FloatingInput">First Name</label>
                </div>
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>

            <div class="p-2 col-sm-6 col-12">
                <div class="form-floating ">
                    <input type="text" class="form-control data1" placeholder="Last Name" disabled id="lastName" asp-for="lastName">
                    <label class="FloatingInput">Last Name</label>
                </div>
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>

            <div class="p-2 col-sm-6 col-12 ">
                <div class="form-floating ">
                    <input type="email" class="form-control data1" placeholder="name@example.com" disabled id="email" asp-for="email">
                    <label class="FloatingInput">Email</label>
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>

            <div class="p-2 col-xl-6 col-sm-6 col-12">
                <div class="form-floating">
                    @*  <input id="phone" class="form-control  data" type="tel" name="phone" asp-for="user.Mobile" disabled/> *@
                    <input class="form-control data1" type="text" maxlength="10" placeholder="contact" disabled id="contact" asp-for="contactNumber" />
                    <label class="floatingInput">Contact</label>
                    <span asp-validation-for="contactNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="p-2 col-sm-6 col-12 ">
                <div class="form-floating ">
                    <input type="text" class="form-control data1" placeholder="MedicalLicense" disabled asp-for="medicalLecense">
                    <label class="FloatingInput">Medical License # </label>
                </div>
                <span asp-validation-for="medicalLecense" class="text-danger"></span>
            </div>

            <div class="p-2 col-sm-6 col-12 ">
                <div class="form-floating ">
                    <input type="text" class="form-control data1" placeholder="NPINumber" disabled asp-for="NPINumber">
                    <label class="FloatingInput">NPI number </label>
                </div>
                <span asp-validation-for="NPINumber" class="text-danger"></span> 
            </div>

            <div class="p-2 col-sm-6 col-12 ">
                <div class="form-floating ">
                    <input type="email" class="form-control data1" placeholder="name@example.com" disabled asp-for="syncEmail">
                    <label class="FloatingInput">Synchronization Email Address </label>
                </div>
                <span asp-validation-for="syncEmail" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 mt-3">
                @foreach (var item in Model.regionList)
                {
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input adisabled adminselectedregion-adminprofile data1" type="checkbox"
                        @if (Model.physicianRegionlist.Any(a => a.Regionid == item.Regionid))
                        {
                            @:checked
                        } value="@item.Regionid"
                               disabled>
                        <label class="form-check-label" for="inlineCheckbox1">@item.Name</label>
                    </div>
                }
            </div>

            <div class="d-flex justify-content-end gap-2 mt-2">
                <button id="submitBtn1" type="button" class="btn btn-info text-white">Edit</button>
                <button id="saveBtn1" type="submit" class="btn btn-info text-white">Save Changes</button>
                <button id="cancelBtn1" type="reset" class="btn btn-outline-info ms-1">Cancel</button>
            </div>
        </div>
    </form>

    <form>
        <div class="row mt-3">
            <div class="h4">Mailing and billing information</div>

            <div class="p-2 col-sm-6 col-12">
                <div class="form-floating ">
                    <input type="text" class="form-control data2" placeholder="Address1" disabled id="address1" asp-for="address1">
                    <label class="FloatingInput">Address1</label>
                </div>
                <span id="address1Warning" class="text-danger"></span>
            </div>

            <div class="p-2 col-sm-6 col-12">
                <div class="form-floating ">
                    <input type="text" class="form-control data2" placeholder="Address2" disabled id="address2" asp-for="address2">
                    <label class="FloatingInput">Address2</label>
                </div>
                <span id="address2Warning" class="text-danger"></span>
            </div>

            <div class="p-2 col-sm-6 col-12 ">
                <div class="form-floating ">
                    <input type="" class="form-control data2" placeholder="city" disabled id="city" asp-for="city">
                    <label class="FloatingInput">City</label>
                </div>
                <span id="cityWarning" class="text-danger"></span>
            </div>

            <div class="col-sm-6 col-12 p-2">
                <div class="form-floating">
                    <select class="form-select" aria-label="Floating label select example" id="floatingSelect" disabled>
                        <option value="" selected>Ahmedabad</option>
                    </select>
                    <label for="floatingSelect">
                        State
                    </label>
                </div>
            </div>

            <div class="col-sm-6 col-12 p-2">
                <div class="form-floating ">
                    <input type="text" class="form-control data2" placeholder="Zip Code" disabled id="zip" asp-for="zipcode">
                    <label class="FloatingInput">Zip Code</label>
                </div>
                <span id="zipWarning" class="text-danger"></span>
            </div>

            <div class="col-xl-6 col-sm-6 col-12 p-2">
                <div class="form-floating">
                    @*  <input id="phone" class="form-control  data" type="tel" name="phone" asp-for="user.Mobile" disabled/> *@
                    <input class="form-control data2" type="text" maxlength="10" placeholder="contact" disabled id="billingContact" asp-for="billingContact" />
                    <label class="floatingInput">Contact</label>
                </div>
                <span id="billingContactWarning" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-4">
                <button id="submitBtn2" type="button" class="btn btn-info text-white">Edit</button>
                <button id="saveBtn2" type="button" class="btn btn-info text-white">Save Changes</button>
                <button id="cancelBtn2" type="reset" class="btn btn-outline-info ms-1">Cancel</button>
            </div>
        </div>
    </form>

    <div class="row mt-3">
        <div class="h4">Provider Profile</div>

        <div class="p-2 col-sm-6 col-12">
            <div class="form-floating ">
                <input type="text" class="form-control" placeholder="BusinessName" disabled asp-for="businessName">
                <label class="FloatingInput">Business Name</label>
            </div>
        </div>

        <div class="p-2 col-sm-6 col-12">
            <div class="form-floating ">
                <input type="email" class="form-control" placeholder="name@example.com" disabled asp-for="businessSite">
                <label class="FloatingInput">Business Site</label>
            </div>
        </div>

        <div class="p-2 col-sm-6 col-12">
            <div class="row d-flex">
                <div class="col-12 ">
                    <div class="form-group rounded d-flex align-items-center justify-content-between border border-1 bg-body-secondary">

                        <div class="px-3 table-responsive">
                            <input type="file" id="uploadPhoto" hidden />
                            <label role="button" for="uploadPhoto" id="photoLabel" class="choosenfile text-nowrap text-secondary">No item selected</label>
                        </div>

                        <button class="photoUploadBtn px-2 py-1 d-flex ms-1 border-0 rounded-2 btn-info shadow-none">
                            <div class="d-flex align-items-center shadow-none text-white"><i class="bi bi-cloud-arrow-up p-2"></i><div class="d-none d-md-block">Upload</div></div>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-9 p-2">
            <div class="form-group rounded d-flex align-items-center justify-content-between border border-1 bg-body-secondary">

                <div class="px-3 table-responsive">
                    <input type="file" id="uploadSign" hidden />
                    <label role="button" for="uploadSign" id="signLabel" class="choosenfile text-nowrap text-secondary">No item selected</label>
                </div>

                <button class="signUploadBtn px-2 py-1 d-flex ms-1 border-0 rounded-2 btn-info shadow-none">
                    <div class="d-flex align-items-center shadow-none text-white"><i class="bi bi-cloud-arrow-up p-2"></i><div class="d-none d-md-block">Upload</div></div>
                </button>

            </div>
        </div>

        <div class="col-sm-2 col-1 p-2">
            <button type="button" id="ModalToOpen" data-bs-target="#ModalToOpen" data-bs-toggle="modal" class="uploadbtn d-flex py-1 border-0 rounded-2 btn-info text-white shadow-none">
                <label role="button" class="d-flex align-items-center">
                    <i class="bi bi-pencil-fill p-2"></i>
                    <div class="d-none d-md-block">Create</div>
                </label>
            </button>
        </div>

        <div class="d-flex my-3">

            <div class="w-50 d-flex justify-content-center align-items-center " style="object-fit:contain">
                <img src="@Model.photo" style="width:25vw; height:25vh; object-fit:contain" id="photoImg" />
            </div>

            <div class="w-50 d-flex justify-content-center align-items-center">
                <img src="" style="width:25vw; height:25vh; object-fit:contain" id="signImg" />
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="form-floating">
                <textarea asp-for="adminnote" class="form-control shadow-none"
                          placeholder="Admin Notes" id="adminnote-editprovider"
                          style="height: 100px" disabled></textarea>
                <label for="floatingTextarea2">Admin Notes</label>
                <span class="text-danger small" id="adminnote-editprovider-span"></span>
            </div>
        </div>

        <div class="d-flex justify-content-end col-12 mt-3 mb-3">
            <button class="btn btn-info text-white px-4 me-2" id="editbtn-adminnote-editprovider">Edit</button>
            <button class="btn btn-info text-white px-4 me-2 d-none" id="savebtn-adminnote-editprovider">Save</button>
        </div>

        <hr class="text-muted" style="border : 1px solid black" />

        <h5>Onboarding</h5>

        <div class="table-responsive small" style="font-weight: bold">
            <table>
                <tr class="p-1">
                    <td class="p-2">
                        <input type="checkbox" class="form-check-input"
                        @if (Model.IsAgreementDoc)
                        {
                            @: checked
                        }
                               readonly />
                    </td>
                    <td class="p-2 px-3">
                        Independent Contractor Agreement
                    </td>
                    <td class="p-2">
                        <button type="button" data-url="/AdminArea/AdminProviderTab/UploadICAdoc" class="p-1 px-2 text-white fileuploadbtn bg-info rounded border-info d-flex align-items-center h-100">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="d-none d-lg-block ps-2">Upload</span>
                        </button>
                    </td>
                    @if (Model.IsAgreementDoc)
                    {
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/ViewICAdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi  bi-eye-fill"></i>
                                <span class="d-none d-lg-block ps-2">View</span>
                            </button>
                        </td>
                    }
                </tr>
                <tr class="p-1">
                    <td class="p-2">
                        <input type="checkbox" class="form-check-input"
                        @if (Model.IsBackgroundDoc)
                        {
                            @: checked
                        }
                               readonly />
                    </td>
                    <td class="p-2 px-3">
                        Background Check
                    </td>
                    <td class="p-2">
                        <button type="button" data-url="/AdminArea/AdminProviderTab/UploadBackDocdoc" class="p-1 px-2 text-white bg-info fileuploadbtn rounded border-info d-flex align-items-center h-100">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="d-none d-lg-block ps-2">Upload</span>
                        </button>
                    </td>
                    @if (Model.IsBackgroundDoc)
                    {
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/ViewBackDocdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi  bi-eye-fill"></i>
                                <span class="d-none d-lg-block ps-2">View</span>
                            </button>
                        </td>
                    }

                </tr>
                <tr class="p-1">
                    <td class="p-2">
                        <input type="checkbox" class="form-check-input"
                        @if (Model.IsCredentialDoc)
                        {
                            @: checked
                        }
                               readonly />
                    </td>
                    <td class="p-2 px-3">
                        HIPAA Compliance
                    </td>
                    <td class="p-2">
                        <button type="button" data-url="/AdminArea/AdminProviderTab/UploadCredentialdoc" class="p-1 px-2 text-white bg-info fileuploadbtn rounded border-info d-flex align-items-center h-100">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="d-none d-lg-block ps-2">Upload</span>
                        </button>
                    </td>
                    @if (Model.IsCredentialDoc)
                    {
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/VeiwCredentialdoc" class="p-1 px-2 text-white bg-info fileviewbtn rounded border-info d-flex align-items-center h-100">
                                <i class="bi  bi-eye-fill"></i>
                                <span class="d-none d-lg-block ps-2">View</span>
                            </button>
                        </td>
                    }
                </tr>
                <tr class="p-1">
                    <td class="p-2">
                        <input type="checkbox" class="form-check-input"
                        @if (Model.IsNonDisclosureDoc)
                        {
                            @: checked
                        }
                               readonly />
                    </td>
                    <td class="p-2 px-3">
                        Non-Disclosure Agreement
                    </td>
                    <td class="p-2">
                        <button type="button" data-url="/AdminArea/AdminProviderTab/UploadNDAdoc" class="p-1 px-2 text-white bg-info rounded fileuploadbtn border-info d-flex align-items-center h-100">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="d-none d-lg-block ps-2">Upload</span>
                        </button>
                    </td>
                    @if (Model.IsNonDisclosureDoc)
                    {
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/ViewNDAdoc" class="p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center h-100">
                                <i class="bi  bi-eye-fill"></i>
                                <span class="d-none d-lg-block ps-2">View</span>
                            </button>
                        </td>
                    }
                </tr>
                <tr class="p-1">
                    <td class="p-2">
                        <input type="checkbox" class="form-check-input"
                        @if (Model.IsLicenseDoc)
                        {
                            @: checked
                        }
                               readonly />
                    </td>
                    <td class="p-2 px-3">
                        License Document
                    </td>
                    <td class="p-2">
                        <button type="button" data-url="/AdminArea/AdminProviderTab/UploadLicensedoc" class="p-1 px-2 text-white bg-info rounded fileuploadbtn border-info d-flex align-items-center h-100">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="d-none d-lg-block ps-2">Upload</span>
                        </button>
                    </td>
                    @if (Model.IsLicenseDoc)
                    {
                        <td class="p-2">
                            <button type="button" data-url="/AdminArea/AdminProviderTab/ViewLicensedoc" class="p-1 px-2 text-white bg-info rounded fileviewbtn border-info d-flex align-items-center h-100">
                                <i class="bi  bi-eye-fill"></i>
                                <span class="d-none d-lg-block ps-2">View</span>
                            </button>
                        </td>
                    }
                </tr>
            </table>


        </div>
        <input type="file" id="SelectFileToUpload" accept=".pdf" hidden />
        <hr class="text-muted" style="border : 1px solid black" />
        <div class="d-flex justify-content-end mb-3">

            <div class="mx-1 d-flex">
                <button type="button" class="btn btn-info shadow-none text-white viewNotes small px-3">
                    Save
                </button>
            </div>
            <div class="mx-1 d-flex">
                <button type="button" class="btn btn-info shadow-none border-0 text-white bg-danger small px-3">
                    Delete Account
                </button>
            </div>
        </div>

    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>

    $('.photoUploadBtn').on('click', function (e) {
        if ($('#photoLabel').html() != "No item selected") {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#photoImg').attr('src', e.target.result);
            };
            reader.readAsDataURL($('#uploadPhoto')[0].files[0]);
        }
    })

    $('.signUploadBtn').on('click', function (e) {
        if ($('#signLabel').html() != "No item selected") {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#signImg').attr('src', e.target.result);
            };
            reader.readAsDataURL($('#uploadSign')[0].files[0]);
        }
    })

    function convertCanvasToImage() {
        const canvas = document.getElementById("sig-canvas");
        const image = new Image();
        var signName = $('#providerId').val() + "_sign";
        $('#signLabel').html(signName)
        image.src = canvas.toDataURL(); // Convert canvas to data URI
        document.getElementById("signImg").src = image.src;
    }

    $(document).ready(function () {

        (function fun() {
            window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimaitonFrame ||
                    function (callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            var canvas = document.getElementById("sig-canvas");
            var ctx = canvas.getContext("2d");
            ctx.strokeStyle = "#222222";
            ctx.lineWidth = 4;

            var drawing = false;
            var mousePos = {
                x: 0,
                y: 0
            };
            var lastPos = mousePos;

            canvas.addEventListener("mousedown", function (e) {
                drawing = true;
                lastPos = getMousePos(canvas, e);
            }, false);

            canvas.addEventListener("mouseup", function (e) {
                drawing = false;
            }, false);

            canvas.addEventListener("mousemove", function (e) {
                mousePos = getMousePos(canvas, e);
            }, false);

            // Add touch event support for mobile
            canvas.addEventListener("touchstart", function (e) {

            }, false);

            canvas.addEventListener("touchmove", function (e) {
                var touch = e.touches[0];
                var me = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchstart", function (e) {
                mousePos = getTouchPos(canvas, e);
                var touch = e.touches[0];
                var me = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchend", function (e) {
                var me = new MouseEvent("mouseup", {});
                canvas.dispatchEvent(me);
            }, false);

            function getMousePos(canvasDom, mouseEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: mouseEvent.clientX - rect.left,
                    y: mouseEvent.clientY - rect.top
                }
            }

            function getTouchPos(canvasDom, touchEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                }
            }

            function renderCanvas() {
                if (drawing) {
                    ctx.moveTo(lastPos.x, lastPos.y);
                    ctx.lineTo(mousePos.x, mousePos.y);
                    ctx.stroke();
                    lastPos = mousePos;
                }
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchend", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchmove", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);

            (function drawLoop() {
                requestAnimFrame(drawLoop);
                renderCanvas();
            })();

            function clearCanvas() {
                canvas.width = canvas.width;
            }

            // Set up the UI
            var clearBtn = document.getElementById("sig-clearBtn");
            clearBtn.addEventListener("click", function (e) {
                clearCanvas();
            }, false);

        })();

        var selectedregion = [];


        $('#cancelBtn1').css('display', 'none');
        $('#saveBtn1').css('display', 'none');

        $('#submitBtn1').on('click', function () {
            $('.data1').each(function () {
                $(this).prop('disabled', false);
            })
            $('#cancelBtn1').css('display', 'flex')
            $('#saveBtn1').css('display', 'flex')
            $(this).css('display', 'none')
        })

        $('#cancelBtn1').on('click', function () {
            $('.data1').each(function () {
                $(this).prop('disabled', true);
            })
            $('#submitBtn1').css('display', 'flex')
            $('#saveBtn1').css('display', 'none')
            $(this).css('display', 'none')
            $('#confirmEmailWarning').html("")
            $('#firstNameWarning').html("")
            $('#lastNameWarning').html("")
            $('#emailWarning').html("")
            $('#contactWarning').html("")

        })

        $('#cancelBtn2').css('display', 'none');
        $('#saveBtn2').css('display', 'none');

        $('#submitBtn2').on('click', function () {
            $('.data2').each(function () {
                $(this).prop('disabled', false);
            })
            $('#cancelBtn2').css('display', 'flex')
            $('#saveBtn2').css('display', 'flex')
            $(this).css('display', 'none')
        })

        $('#cancelBtn2').on('click', function () {
            $('.data2').each(function () {
                $(this).prop('disabled', true);
            })
            $('#submitBtn2').css('display', 'flex')
            $('#saveBtn2').css('display', 'none')
            $(this).css('display', 'none')
            $('#address1Warning').html("")
            $('#address2Warning').html("")
            $('#cityWarning').html("")
            $('#zipWarning').html("")
            $('#billingContactWarning').html("")
        })

        // $('#saveBtn1').on('click', function (e) {
        //     $('input[type="checkbox"]:checked').each(function () {
        //         selectedregion.push($(this).val());
        //     });

        //     $.ajax({
        //         url: '/Provider/UpdatePhysicianInfo',
        //         data: { "providerId": $('#providerId').val() }
        //     })

        // })

        $('#myForm1').submit(function (e) {
            e.preventDefault();
            console.log("H1");
             if ($('#myForm1').valid()) {
                console.log("H2");
                $.ajax({
                    url: '/Provider/UpdatePhysicianInfo',
                    type: 'post',
                    data: $(this).serialize(),
                    success: function (response) {
                        // Handle success response
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                    }
                });
             }
        });

        $('#saveBtn2').on('click', function () {
            var billingInfo = {
                address1: $('#address1').val(),
                address2: $('#address2').val(),
                city: $('#city').val(),
                zip: $('#zip').val(),
                billingContact: $('#billingContact').val(),
            }

            if ($('#address1Warning').text() == "" && $('#address2Warning').text() == "" && $('#cityWarning').text() == "" && $('#zipWarning').text() == "" && $('#billingContactWarning').text() == "") {
                $('.data2').each(function () {
                    $(this).prop('disabled', true);
                })
                $('#submitBtn2').css('display', 'flex')
                $('#cancelBtn2').css('display', 'none')
                $(this).css('display', 'none')
                $('#address1Warning').html("")
                $('#address2Warning').html("")
                $('#cityWarning').html("")
                $('#zipWarning').html("")
                $('#billingContactWarning').html("")
                $.ajax({
                    url: '/Admin/UpdateBillingInfo',
                    data: billingInfo
                })
            }
            else {
                console.log("NAI THAVA DOV SUBMIT");
            }
        })
    })

    $('#uploadPhoto').change(function (e) {
        $('#photoLabel').html($(this)[0].files[0].name)
    })

    $('#uploadSign').change(function (e) {
        $('#signLabel').html($(this)[0].files[0].name)
    })

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


