@model Services.ViewModels.PatientInfo;
@{
    Layout = "_Requests";
}

<div class="container mt-3">

    <div class="d-flex justify-content-between">
        <div>
            <h3 class="none">Submit Information</h3>
        </div>
        <div>
            <button class=" border border-info rounded-2 p-2 bg-transparent">
                <a class="text-decoration-none text-info " asp-controller="Patient" asp-action="PatientDashboard">&lt; Back</a>
            </button>
        </div>
    </div>

    <div class="border rounded-3 p-3 mt-4 pr_main bg-white" id="main-content">
        <form asp-action="Insert2" asp-controller="Patient" method="post" enctype="multipart/form-data">
            <div class="patient-info row">
                <div class="h4">Patient information</div>

                <div class="p-2 col-xl-12">
                    <div class="form-floating">
                        <textarea class="form-control shadow-none bg-transparent" asp-for="Symptoms"
                                  placeholder="Enter Brief Details Of Symptomps(Optional)"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter Brief Details Of Symptomps(Optional)</label>

                    </div>
                </div>

                <div class="p-2 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="form-floating ">
                        <input type="text" asp-for="FirstName" class="form-control shadow-none bg-transparent" placeholder="First Name">
                        <label class="FloatingInput" for="Name">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating mt-2 col-xl-6 col-sm-6 col-12">
                    <input type="text" asp-for="LastName" class="form-control" id="floatingPassword" placeholder="Last Name">
                    <label for="floatingPassword" style="left: 5px;">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="date" asp-for="DOB" class="form-control" id="floatingPassword" placeholder="Date of birth">
                    <label for="floatingPassword" style="left: 5px;">Date of Birth</label>
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>

            </div>

            <div class="contact-info row mt-5">

                <div class="h4">Patient contact information</div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="email" asp-for="Email" class="form-control" id="patientEmail" onblur="checkEmailExists()" placeholder="name@example.com">
                    <label for="floatingInput" style="left: 5px;">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12" required>
                    <input id="phone" asp-for="PhoneNumber" class="form-control" type="tel" name="phone" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12" id="passwordFields1">
                    <input type="password" asp-for="Password" class="form-control" id="password" placeholder="password">
                    <label for="floatingInput" style="left: 5px;">password</label>
                    <div class="login-icon" onclick="fun()">
                        <i class="bi bi-eye-slash-fill" id="eye"></i>
                    </div>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12" id="passwordFields2">
                    <input type="password" class="form-control" id="cpassword" placeholder="confirm password">
                    <label for="floatingInput" style="left: 5px;">Confirm Passworrd</label>
                    <div class="login-icon" onclick="fun()">
                        <i class="bi bi-eye-slash-fill" id="eye"></i>
                    </div>
                </div>

            </div>

            <div class="location-info row mt-5">

                <div class="h4">Patient Location</div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" asp-for="Street" class="form-control" id="floatingInput" placeholder="Street">
                    <label for="floatingInput" style="left: 5px;">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" asp-for="City" class="form-control" id="floatingInput" placeholder="City">
                    <label for="floatingInput" style="left: 5px;">City</label>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" asp-for="State" class="form-control" id="floatingInput" placeholder="State">
                    <label for="floatingInput" style="left: 5px;">State</label>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" asp-for="ZipCode" class="form-control" id="floatingInput" placeholder="Zip Code">
                    <label for="floatingInput" style="left: 5px;">Zip Code</label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="form-floating mt-3 col-xl-6 col-sm-6 col-12">
                    <input type="text" asp-for="Room" class="form-control" id="floatingInput" placeholder="Room">
                    <label for="floatingInput" style="left: 5px;">Room # / Suite(Optional)</label>
                </div>

            </div>

            <div class="document row mt-5">

                <div class="h4">(Optional) Upload photo or Document</div>

                <div class="row">
                    <div class="d-flex justify-content-between mt-2 border rounded col-12 ml-3 pe-0 bg-body-secondary">
                        <div class="mt-2">
                            @*  <label id="filename">No item selected</label> *@
                            <input type="text" id="filename" placeholder="No item selected" class="border border-0 bg-body-secondary" />
                        </div>
                        <div class="bg-info p-2 rounded">
                            <input type="file" id="upload" asp-for="Upload" hidden multiple>
                            <label for="upload">
                                <i class="bi bi-cloud-arrow-up text-white"></i>
                                <span class="text-white">Upload</span>
                            </label>
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button class="bg-info p-2 rounded border-0 px-3 text-white">Submit</button>
                    <button class="ms-3 p-2 rounded border-info bg-white text-info px-3">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    swal("Information",
        "When Submitting the request, you must provide the correct contact information for the patient or responsibly party.Failure to provide the correct email and phone number will delay the service or be declined.",
        "warning", {
        closeOnClickOutside: true,
    });

    const path = document.getElementById("eye");
    const password = document.getElementById('password')
    function fun() {
        console.log(password);
        if (password.type === "password") {
            path.classList.remove("bi-eye-slash-fill");
            path.classList.add("bi-eye-fill");
            password.type = "text";

        }
        else {
            path.classList.remove("bi-eye-fill");
            path.classList.add("bi-eye-slash-fill");
            password.type = "password";

        }
    }

    function checkEmailExists() {

        var email = document.getElementById("patientEmail").value;

        fetch('/Patient/patient_request/checkmail/' + email)
            .then(response => response.json())
            .then(data => {
                var patientPassword = document.getElementById('passwordFields1');
                var patientConfirmPassword = document.getElementById('passwordFields2');
                if (data.exists) {
                    patientPassword.style.display = 'none';
                    patientConfirmPassword.style.display = 'none';
                    console.log("exist ")
                }
                else {
                    patientPassword.style.display = 'block';
                    patientConfirmPassword.style.display = 'block';
                    console.log(" not exist ")
                }
            })
            .catch(error => console.error('Error:', error));
    }

</script>
