@model Services.ViewModels.patient_dashboard
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@Html.Partial("_patient")

<div id="download">
    <div class="container">

        <div class="d-flex justify-content-between mt-5">
            <div class="h3">Documents</div>
            <div>
                <button class=" border border-info rounded-2 p-2 bg-transparent">
                    <a class="text-decoration-none text-info" asp-action="PatientDashboard">&lt; Back</a>
                </button>
            </div>
        </div>
        <div class="border rounded-3 p-3 mt-4 ">
            <div class="small">patient name</div>
            <div class="text-info fw-bolder h4">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</div>
            <p class="small">Check here for any files that you or the doctors or your subrequests requestors have attached for your review.</p>
            <div class="row mx-1">
                <div class="d-flex justify-content-between mt-2 border rounded col-12 pe-0 bg-body-secondary">
                    <div class="mt-2">
                        @*  <label id="filename">No item selected</label> *@
                        <input type="text" id="dashFileName" placeholder="No item selected" class="border border-0 bg-body-secondary" />
                    </div>
                    <div class="bg-info p-2 rounded">
                        <input type="file" id="dashUpload" hidden multiple>
                        <label for="dashUpload">
                            <i class="bi bi-cloud-arrow-up text-white"></i>
                            <span class="text-white">Upload</span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div class="h3">Download</div>
                <div>
                    <button class=" border border-info rounded-2 p-2 bg-transparent">
                        <a class="text-decoration-none text-info">Download all</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>