@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model Services.ViewModels.AgreementDetails

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModal1Label">Assign Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                @switch (Model.type)
                {
                    case 1:
                        <i class="bi bi-circle-fill" style="color :#5fbc61"></i>
                        <span>Patient</span>
                        break;
                    case 2:
                        <i class="bi bi-circle-fill" style="color:  #ed9124;"></i>
                        <span>Friend</span>
                        break;
                    case 3:
                        <i class="bi bi-circle-fill" style="color:#e36478;"></i>
                        <span>Concierge</span>
                        break;
                    case 4:
                        <i class="bi bi-circle-fill" style="color:  #0c7db7;"></i>
                        <span>Business</span>
                        break;
                }
                <input type="text" value="@Model.requestId" id="requestId"/>
                <div class="small mt-2">To Send Agreement please make sure you are uploading the correct contact information below for the responsible party.</div>
                <div class="form-floating mt-3">
                    <input type="text" class="form-control shadow-none bg-transparent" placeholder="Mobile Number" asp-for="mobile" disabled>
                    <label class="FloatingInput" for="Name">Phone Number</label>
                </div>

                <div class="form-floating mt-4">
                    <input type="email" class="form-control shadow-none bg-transparent" placeholder="Email" asp-for="email" disabled>
                    <label class="FloatingInput" for="Name">Email</label>
                </div>
            </div>

            <div class="modal-footer">
                @if (HttpContextAccessor.HttpContext!.Session.GetString("Role") == "Admin")
                {
                    <button id="submitBtn" type="submit" class="btn btn-info text-white confirm" data-bs-dismiss="modal" name="/Admin/SendAgreement">Submit</button>
                }
                else
                {
                    <button id="submitBtn" type="submit" class="btn btn-info text-white confirm" data-bs-dismiss="modal" name="/ProviderSide/SendAgreement">Submit</button>
                }
                <button type="button" class="btn btn-outline-info ms-1" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.confirm').on('click', function (e) {

            var requestId = $('#requestId').val();
            var url = $(this).attr('name');
            
            $.ajax({
                url: url,
                data: { "requestId": requestId },
                success: function (response) {
                    toastr.success("Email sent successfully");
                    window.location.reload()
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>