@model Services.ViewModels.RoleAccess
<div class="container mt-5" id="mainContent">
    <div class="d-flex justify-content-between">
        <div class="h4">
            Edit Role
        </div>
        <a class="btn btn-outline-info shadow-none" asp-action="RoleAccess">
            &lt; Back
        </a>
    </div>
    <div class="shadow mt-3 p-4">

        <div class="fw-bolder h5">Details</div>
        <form>

            <div class="row">
                <div class="p-2 col-sm-6 col-12">
                    <div class="form-floating ">
                        <input type="text" class="form-control" placeholder="Role Name" id="roleName" asp-for="roleName">
                        <label class="FloatingInput">Role Name</label>
                    </div>
                    <span id="nameError" class="text-danger"></span>
                </div>

                <div class="col-sm-6 col-12 p-2">
                    <div class="form-floating">
                        <select class="form-select businesses" aria-label="Floating label select example" id="floatingSelect" asp-for="accountType">
                            <option value="0" selected>All</option>
                            <option value="1">Admin</option>
                            <option value="2">Physician</option>
                        </select>
                        <label for="floatingSelect">
                            Account type
                        </label>
                    </div>
                </div>

                <div id="rolesList">
                    <div class="col-12 d-flex gap-3 flex-wrap m-2">
                        @foreach (var item in Model.menuList)
                        {
                            <div>
                                <input type="checkbox" value="@item.Menuid">
                                <label>@item.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <span class="text-danger" id="errorSpan"></span>
            </div>

            <div class="d-flex justify-content-end gap-3">
                <button class="btn btn-info text-white shadow-none" type="button" id="createRoleBtn">Save</button>
                <button class="btn border border-info text-info shadow-none" type="reset" id="cancelBtn">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/RoleAccess.js"></script>



