@{
    Layout = "";
}
@model Services.ViewModels.UserAccessData
<Partial name="_Notification" />
<div class="table-responsive">

        <table class="w-100 table">

            <thead class="table-secondary">
                <tr>
                    <th>Account Type</th>
                    <th>Account POC</th>
                    <th>Phone</th>
                    <th>Open requests</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
</div>